
files:
  "/etc/awslogs/config/logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      [/var/log/web.stdout.log]
      log_group_name = /aws/elasticbeanstalk/studentperformance_v1/web.stdout.log
      log_stream_name = {instance_id}
      file = /var/log/web.stdout.log
      [/var/log/web.stderr.log]
      log_group_name = /aws/elasticbeanstalk/studentperformance_v1/web.stderr.log
      log_stream_name = {instance_id}
      file = /var/log/web.stderr.log
      [/var/log/eb-engine.log]
      log_group_name = /aws/elasticbeanstalk/studentperformance_v1/eb-engine.log
      log_stream_name = {instance_id}
      file = /var/log/eb-engine.log

commands:
  01_restart_awslogs:
    command: "sudo service awslogs restart"
